.container1 {
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-size:contain;
  height: 630px;
  width: 1500px;
}

h1 {
  padding-top: 40px;
  color: turquoise;
}
